#gameplay-ui-root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.gameplay-ui-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.gameplay-ui-mount {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.gameplay-ui-layer--modal {
    justify-content: center;
    align-items: center;
}

.gameplay-ui-layer--global-transition {
    justify-content: center;
    align-items: center;
}

.global-transition-blackout {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
}
